@import "shared/styles/mixins";

.search {
  &__result {
    &_name {
      font-weight: var(--font-weigth-bold);
      font-size: 22px;
      line-height: 25px;
      width: 160px;
      text-align-last: left;
      @include mobile {
        margin-bottom: 10px;
      }
    }
    &_item {
      @include flex-all-sb;
      @include minitablet {
        justify-content: initial;
        flex-wrap: wrap;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
        @include minitablet {
         margin-bottom: 20px;
        }
      }

      .button {
        background-color: var(--color-orange-light);
        border-radius: 6px;
        padding: 6px 12px;

        img {
          width: 49px;
          height: 27px;
        }
      }
    }

    &_price {
      font-weight: var(--font-weigth-bold);
      font-size: 24px;
      line-height: 27px;
    }

    &_img {
      width: 99px;
      height: 99px;
      @include minitablet {
        margin-right: 20px;
      }
      @include mobile {
        margin-bottom: 10px;
      }
    }
  }
}

.container {
  width: 168px;
  height: 42px;
}
