@import "shared/styles/mixins";

.header {
  margin-bottom: 32px;
  padding-top: 15px;

  &__inner {
    @include flex-all-sb;
    padding-bottom: 32px;
    border-bottom: 2px solid var(--color-orange);
    border-radius: 1px;
    @include mobile {
      @include flex-all-center;
    }
  }

  address {
    @include mobile {
      display: none;
    }
  }
}
