.footer {
  padding: 50px 0 88px;
  background: #efe8c7;

  @media only screen and (max-width: 600px) {
    padding: 20px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    font-family: var(--font-family-nerko);
    font-weight: var(--fon-weigth-regular);
    font-size: 4em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-orange);
  }

  &__text {
    width: 207px;
    font-weight: var(--fon-weigth-light);
    font-size: 16px;
    line-height: 18px;
    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 116px;
    }
  }

  &__item {
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-orange);

    &:hover {
      text-decoration: underline;
    }
  }
}
