@import "shared/styles/mixins";

.modal {
  &__content {
    min-width: 469px;
    padding: 32px 88px;
  }
  &__text {
    margin-bottom: 32px;
    font-family: var(--font-family-montserrat);
    font-weight: var(--font-weight-semibold);
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: var(--color-black);
  }

  &__buttons {
    @include flex-all-center;
    .button {
      font-family: var(--font-family-montserrat);
      font-weight: var(--font-weight-semibold);
      font-size: 32px;
      line-height: 39px;
      color: var(--color-white);
      background-color: var(--color-orange-light);
      border-radius: var(--border-radius-normal);
      padding: 8px 0;
      width: 106px;
      text-align: center;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
}

.buy {
  @include flex-all-sb;
  gap: 20px;
  .button {
    background-color: var(--color-orange-light);
    border-radius: 6px;
    padding: 10px 22px;
  }
}

.buttons {
  @include flex-all-sb;

  background: #efe8c7;
  border-radius: 6px;
  padding: 11px 6px;
  width: 100%;
}
