.input{
  display: block;
  width: 100%;
  border: 1px solid var(--color-orange);
  border-radius: var(--border-radius-normal);
  background-color: var(--color-body);
  font-family: var(--font-family-comfortaa);

  &:focus-visible{
    outline: none;
  }
}