@import "shared/styles/mixins";

.nav {
  @include minitablet {
    display: none;
  }
  &__list {
    display: flex;
    gap: 56px;
    @include middledesk {
      gap: 36px;
    }
    @include tablet {
      gap: 26px;
    }
  }
  &__link {
    text-decoration: none;
    color: var(--color-orange);
    font-weight: var(--font-weigth-bold);
    font-size: 18px;
    line-height: 20px;
    @include tablet {
      font-size: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
