@import "shared/styles/mixins";

.info {
  font-style: normal;

  @include minitablet {
    display: none;
  }
  &__schedule {
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: 20px;
    font-style: var(--font-family-comfortaa);

    @include tablet {
      font-size: 15px;
    }
  }
  &__phone {
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--color-black);
    font-size: 24px;
    line-height: 20px;

    @include tablet {
      font-size: 15px;
    }
  }
}
