.about {
  margin-top: 30px;
  margin-bottom: 88px;

  &__title {
     font-size: 64px;
     line-height: 78px;
     text-align: center;
     margin-bottom: 44px;
     text-transform: uppercase;
     font-weight: var(--font-weigth-bold);
    font-family: var(--font-family-montserrat);
  }
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.about__item {
  width: 287px;
  text-align: center;
  @media only screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &_img {
    margin-bottom: 24px;
  }

  &_title {
    margin-bottom: 16px;
    font-weight: var(--font-weigth-semibold);
    font-size: 20px;
  }

  &_text {
    font-weight: var(--font-weigth-light);
  }
}
