@import "shared/styles/mixins";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
  padding-top: 15px;
  background: #efe8c7;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  height: 100px;

  &__inner {
    @include flex-all-sb;
    color: var(--color-orange);
    margin-bottom: 48px;
  }

  &__logo {
    font-family: var(--font-family-nerko);
    font-weight: var(--font-weigth-regular);
    font-size: 64px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-orange);

    @include tablet {
      font-size: 50px;
    }
  }

  .button {
    display: none;
    @include minitablet {
      display: block;
    }
  }
}
