.textarea {
  padding: 7px;
  resize: none;
  width: 100%;
  background-color: var(--color-body);
  border: 1px solid var(--color-orange);
  border-radius: var(--border-radius-normal);
  font-family: var(--font-family-comfortaa);
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;

  &::placeholder {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--color-orange);
    opacity: inherit;
  }
}
